---
layout: main.njk
eleventyExcludeFromCollections: true
---
<ul id="song_list">
{%- for song in collections.songs -%}
<li class="song_list__item">
    <a href="{{song.url}}" class="song_list__link">{{song.data.title}} - {{song.data.author}}</a>
</li>
{%- endfor -%}
</ul>
